* {
  padding: 0;
  margin: 0;
}

body {
  background-color: gainsboro;
  font-family: 'Times New Roman', Times, serif;
}

.baner {
  width: 350px;
  position: relative;
  bottom: 380px;
  left: 600px;
  border-radius: 30px;
}

.content-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 300px
}

.content-principal h1 {
  font-size: 80px;
  margin-bottom: 20px;
  color: #38313b;
  animation: mostrar-titulo 2s alternate infinite;
}

.content-principal span {
  color: #5c2491;
}

.content-principal p {
  font-size: 20px;
  color: #666;
  margin-bottom: 2rem;
}

.content-principal {
  max-width: 500px;
  margin-left: 100px;
}

.barranav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.btn-outline {
  border: 2px solid #333;
  padding: 3px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;

}

.btn-outline:hover {
  background: #a076c7;
}

header {
  padding: 80px;

}

.information {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 30px;
  margin: 10px;
}

.about {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: 2px solid rgba(235, 229, 229, 0.616);
  padding: 30px;
}

.about h2 {
  color: #38313b;
}

.about p {
  font-size: 20px;

}

.education {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: 2px solid rgba(235, 229, 229, 0.616);
  padding: 30px;
}

.education h2 {
  color: #38313b;

}

.education ul {
  font-size: 20px;
}

.skills {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: 2px solid rgba(235, 229, 229, 0.616);
  padding: 30px;
}

.skills h2 {
  color: #38313b;
}

.skills ul {
  font-size: 20px;
}

.contact {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: 2px solid rgba(235, 229, 229, 0.616);
  padding: 30px;
}

.contact h2 {
  color: #38313b;
}

.contact ul {
  font-size: 20px;
}

@keyframes mostrar-titulo {
  from {
    opacity: 0;
    transform: translateY(30px) skew(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) skew(10deg);
  }
}

.icon-wsp {
  width: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.icon-wsp img {
  width: 100%;
  border-radius: 50px;
}