* {
  padding: 0;
  margin: 0;
}

body {
  background-color: gainsboro;
  font-family: 'Times New Roman', Times, serif;
}

.baner {
  width: 350px;
  position: relative;
  bottom: 380px;
  left: 600px;
  border-radius: 30px;
}

.content-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 300px
}

.content-principal h1 {
  font-size: 80px;
  margin-bottom: 20px;
  color: #38313b;
}

.content-principal p {
  font-size: 20px;
  color: #666;
  margin-bottom: 2rem;
}

.content-principal {
  max-width: 500px;
  margin-left: 100px;
}

.barranav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.btn-outline {
  border: 2px solid #333;
  padding: 3px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;

}

.btn-outline:hover {
  background: #a076c7;
}

header {
  padding: 80px;

}
